<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="MainDb" connectionString="Data Source=INN5CG0161FXR\SQLEXPRESS; Initial Catalog=PromotionEngine;Integrated Security:true;connection timeout=120000;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>